.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--color-bg-secondary);
  margin-bottom: 30px;
  border-radius: 4px;
  background-image: url(../img/antenna.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages___item:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../img/diagram.svg);
}
.advantages__item:nth-child(4)::before {
  background-image: url(../img/astronaut.svg);
}
.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}