.button {
  @extend %button;
}

.form--button {
  padding-right: 52px;
  padding-left: 52px;
}

.footer--button {
  padding-left: 28px;
  padding-right: 28px;
  gap: 10px;
  display: flex;
  align-items: center;
}