.contacts {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  @include transition-set (color,fill);
}

.contacts__link:hover {
  color: var(--color-text-hoover);
}

.contacts__link:hover .contacts__icon {
  fill: var(--color-text-hoover);
}
.contacts__link:hover .contacts__tel {
  fill: var(--color-text-hoover);
}

.contacts__icon {
  width: 16px;
  height: 12px;
  fill: var(--color-text-primary);
  
}

.contacts__icon--tel {
  width: 10px;
  height: 16px;
  fill: var(--color-text-primary);
  @include transition-set (fill);
}


@media (max-width:768px) {
  .contacts {
    display: none;
  }
}


@media (min-width:768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width:1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
}

 