.customers__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  @extend %center-flex ;
  @include transition-set (color, border, border-radius);
}

.customers__item {
  flex-basis: calc((100% - 150px) / 6);
}

.customers__link:hover {
  color: var(--color-text-hoover);
  border: 1px solid var(--color-text-hoover);
  border-radius: 4px;
}

.customers__link:hover .customers__icon {
  fill: var(--color-text-hoover);
}

.customers__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  @include transition-set (fill);
}