.customers__title {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-text-title);
  text-align: center;
  padding-bottom: 50px;
}

.customers__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

.customers__item {
  flex-basis: calc((100% - 150px) / 6);
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, border, border-radius;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.customers__link:hover {
  color: var(--color-text-hoover);
  border: 1px solid var(--color-text-hoover);
  border-radius: 4px;
}

.customers__link:hover .customers__icon {
  fill: var(--color-text-hoover);
}

.customers__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}