.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 34px;
}

.filter-button {
  padding: 6px 25px;
  border-radius: 4px;
  @include transition-set (color, background-color, box-shadow);
}

.filter-button:hover {
  background-color: var(--color-text-hoover);
  color: var(--color-text-secondary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
