.footer__container {
  display: flex;
  gap: 70px;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: var(--color-bg-primary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__item {
  color: var(--color-text-info);
}

.footer__gmail {
  color: rgba(255, 255, 255, 0.6);
}

.footer__tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer__text {
  color: var(--color-text-secondary);
  margin-bottom: 9px;
}

.footer__title {
  color: var(--color-text-secondary);
  text-align: center;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__icon {
  fill: var(--color-text-secondary);
  width: 20px;
  height: 20px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer__label {
  color: var(--color-bg-secondary);
  padding-bottom: 20px;
  display: block;
  text-align: center;
}

.footer__input {
  background-color: var(--color-bg-primary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
}

.footer__link {
  display: block;
  width: 44px;
  height: 44px;
  border: 0px solid black;
  background-color: var(--color-text-info);
  border-radius: 50%;
  @extend %center-flex ;
  @include transition-set (background-color);
}

.footer__link:hover {
  background-color: var(--color-text-hoover);
}