.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__container {
  @extend %center-flex ;
  justify-content: space-between;
  gap: 93px;
}

.header__menu {
  width: 40px;
  height: 40px;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ECECEC;
}

@media (min-width:768px) {
  .header__menu {
    display: none;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

