.list {
  display: flex;
  gap: 30px;
}

.customers--list {
  @extend %center-flex;
  flex-wrap: wrap;
}

.advantages--list {
  display: flex;
  flex-direction: column;
}

.list--team {
  display: flex;
  flex-direction: column;
}