.list {
  display: flex;
  gap: 30px;
}

.work--list {
  flex-basis: calc((100% - 60px) / 3);
}

.team--list {
  flex-basis: calc((100% - 90px) / 4);
}

.customers--list {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}