.form__label {
  padding-bottom: 4px;
}

.hero__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.form__textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form__textarea:hover {
  border: 1px solid var(--color-text-hoover);
}

.form__textarea:focus-within {
  border: 1px solid var(--color-text-hoover);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 30px;
}

.agree__input:checked {
  background-color: var(--color-text-hoover);
}

.agree__link {
  color: var(--color-text-hoover);
  text-decoration: underline;
}

.form__field {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form__div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  width: 448px;
  height: 40px;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form__icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form__div:focus-within {
  border: 1px solid var(--color-text-hoover);
}

.form__div:focus-within .form__icon {
  fill: var(--color-text-hoover);
}

.form__div:focus .form__icon {
  fill: var(--color-text-hoover);
}

.form__div:hover {
  border: 1px solid var(--color-text-hoover);
}

.form__div:hover .form__icon {
  fill: var(--color-text-hoover);
}

.form__link {
  padding-left: 12px;
  display: flex;
  padding-right: 12px;
}

.form__input {
  height: 16px;
}

.backdrop__button {
  position: absolute;
  right: 10px;
  top: 10px;
}

