.btn__close {
  background-color: var(--color-text-secondary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.btn__close:hover .form__icon {
  fill: var(--color-text-hoover);
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(2);
}

.modal {
  background-color: var(--color-text-secondary);
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  border: 0px solid black;
  border-radius: 4px;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.no__scroll {
  overflow: hidden;
}