.nav {
  flex-grow: 1;
}
.nav__list {
  display: flex;
  gap: 32px;
}

.nav__link {
  position: relative;
  font-weight: 500;
  color: var(--color-text-title);
  line-height: 1.14;
  @include transition-set (color);
}

.nav__link:hover {
  color: var(--color-text-hoover);
}

.nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-text-hoover);
  position: absolute;
  left: 0;
  bottom: -32px;
  opacity: 0;
  border: 0px solid black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @include transition-set (transform, opacity);
}

.nav__link:hover::after {
  transform: rotateY(-180deg);
  opacity: 1;
}

