.portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

@media (max-width:768px) {
  .portfolio-list {
    flex-direction: column;
  }
}