.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social__link {
  border: 0px solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social__link:hover {
  background-color: var(--color-text-hoover);
}

.social__link:hover .social__icon {
  fill: var(--color-text-secondary);
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: var(--color-text-secondary);
}