.social__icon {
  @include social-icons (20px, 20px, #afb1b8);
  @include transition-set (fill);
}

.social__link {
  @extend %center-flex;
  @include transition-set (background-color);
}

.social__list {
  @extend %center-flex;
  gap: 10px;
}

.social__link:hover {
  background-color: var(--color-text-hoover);
}

.social__link:hover .social__icon {
  fill: var(--color-text-secondary);
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: var(--color-text-secondary);
}