.list__item--team {
  flex-basis: calc((100% - 90px) / 4);
}

.teammate__photo {
  margin-bottom: 30px;
}

.teammate__img {
  max-width: 450px;
  max-height: 460px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../../img/teammate-ihor-laptop.jpg);
  }
}

.teammate__name {
  color: var(--color-text-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.teammate__role {
  font-size: 16px;
  padding-bottom: 30px;
  text-align: center;
}

.teammate {
  background-color: var(--color-text-secondary);
  margin-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}

@media (min-width:768px) {
  .team--list {
    display: flex;
    flex-wrap: wrap;
  }
}