.list__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-title);
  margin-bottom: 50px;
}

.advantages--title {
  font-size: 14px;
  text-transform: uppercase;
}
