.list__item--work {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.work__img {
  display: block;
}

.work__div {
  background-color: rgba(50, 47, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
}

.work__subtitle {
  color: var(--color-text-secondary);
  text-align: center;
  padding-top: 25px;
}