.work {
  padding-top: 95px;
  padding-bottom: 95px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-title);
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.solution__div {
  background-color: rgba(50, 47, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
}

.solution__subtitle {
  color: var(--color-text-secondary);
  text-align: center;
  padding-top: 25px;
}


@media (max-width:1200px) {
  .work {
    display: none;
  }
}
