.work {
  padding-bottom: 95px;
}
.work-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.work-item {
  position: relative;
}

.work-img {
  display: block;
}

.work-div {
  background-color: rgba(50, 47, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
}

.work-subtitle {
  color: var(--color-text-secondary);
  text-align: center;
  padding-top: 25px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-title);
  margin-bottom: 50px;
}