@mixin transition-set ($properties...) {
    transition-property: $properties;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin icons ($width, $height, $fill) {
   width: $width;
   height: $height;
   fill: $fill;
}