:root {
  --font-primary: "Roboto", serif;
  --font-logo: "Raleway", serif;
  --color-text-logo: #000000 --;
  --color-text-hoover: #2196f3;
  --color-text-secondary: #ffffff;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-info: #ffffff1a;
  --color-bg-product: #eeeeee;
  --color-bg-primary: #2f303a;
  --color-bg-secondary: #f5f4fa;
}
