:root {
  --font-primary: "Roboto", serif;
  --font-logo: "Raleway", serif;
  --color-text-logo: #000000 --;
  --color-text-hoover: #2196f3;
  --color-text-secondary: #ffffff;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-info: #ffffff1a;
  --color-bg-product: #eeeeee;
  --color-bg-primary: #2f303a;
  --color-bg-secondary: #f5f4fa;
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: var(--color-text-title);
  line-height: 1.14;
  transition-property: color ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav-link:hover {
  color: var(--color-text-hoover);
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-text-hoover);
  position: absolute;
  left: 0;
  bottom: -32px;
  opacity: 0;
  border: 0px solid black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition-property: transform, opacity ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav-link:hover::after {
  transform: rotateY(-180deg);
  opacity: 1;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 93px;
}
.header-contacts {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-contacts-link:hover {
  color: var(--color-text-hoover);
}

.header-contacts-link:hover .header-icon {
  fill: var(--color-text-hoover);
}
.header-contacts-link:hover .header-tel {
  fill: var(--color-text-hoover);
}

.header-icon {
  width: 16px;
  height: 12px;
  fill: var(--color-text-primary);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-tel {
  width: 10px;
  height: 16px;
  fill: var(--color-text-primary);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.hero {
  background: var(--color-bg-primary);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 200px 0px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-title {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text-secondary);
  max-width: 696px;
}
.hero-button {
  background-color: var(--color-text-hoover);
  color: var(--color-bg-secondary);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.team-title {
  font-weight: 700;
  color: var(--color-text-title);
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}
.teammate-photo {
  margin-bottom: 30px;
}
.teammate-name {
  color: var(--color-text-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.teammate-role {
  font-size: 16px;
  padding-bottom: 30px;
  text-align: center;
}

.teammate-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.teammate-link {
  border: 0px solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.teammate-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.teammate-link:hover {
  background-color: var(--color-text-hoover);
}

.teammate-link:hover .teammate-icon {
  fill: var(--color-text-secondary);
}

.team {
  background-color: var(--color-bg-secondary);
  padding-top: 95px;
  padding-bottom: 95px;
}
.team-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
.teammate {
  background-color: var(--color-text-secondary);
  margin-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}

.regularcustomers {
  margin-bottom: 94px;
  margin-top: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-text-title);
  text-align: center;
  padding-bottom: 50px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

.customers-item {
  flex-basis: calc((100% - 150px) / 6);
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, border, border-radius;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.customers-link:hover {
  color: var(--color-text-hoover);
  border: 1px solid var(--color-text-hoover);
  border-radius: 4px;
}

.customers-link:hover .customers-icon {
  fill: var(--color-text-hoover);
}

.customers-icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: flex-start;
}

.footer {
  background-color: var(--color-bg-primary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: var(--font-logo);
  color: var(--color-text-hoover);
  display: block;
  margin-bottom: 20px;
  font-size: 26px;
}
.footer-item {
  color: var(--color-text-info);
}

.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-text {
  color: var(--color-text-secondary);
  margin-bottom: 9px;
}
.footer-studio {
  color: var(--color-text-secondary);
}

.footer-title {
  color: var(--color-text-secondary);
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-icon {
  fill: var(--color-text-secondary);
  width: 20px;
  height: 20px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.footer-label {
  color: var(--color-bg-secondary);
  padding-bottom: 20px;
  display: block;
}

.footer-input {
  background-color: var(--color-bg-primary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
}

.footer-button {
  background-color: var(--color-text-hoover);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: var(--color-text-secondary);
  align-items: center;
  line-height: 1.875;
}

.footer-link {
  display: block;
  width: 44px;
  height: 44px;
  border: 0px solid black;
  background-color: var(--color-text-info);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-link:hover {
  background-color: var(--color-text-hoover);
}

.product-name {
  line-height: 2;
  font-size: 18px;
  color: var(--color-text-title);
  font-weight: 700;
  padding-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
}

.product-category {
  padding-left: 24px;
}

.advantages {
  padding-top: 95px;
  padding-bottom: 95px;
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--color-bg-secondary);
  margin-bottom: 30px;
  border-radius: 4px;
  background-image: url(../img/antenna.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../img/diagram.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut.svg);
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.work {
  padding-bottom: 95px;
}
.work-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.work-item {
  position: relative;
}

.work-img {
  display: block;
}

.work-div {
  background-color: rgba(50, 47, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
}

.work-subtitle {
  color: var(--color-text-secondary);
  text-align: center;
  padding-top: 25px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-title);
  margin-bottom: 50px;
}
.hero-button {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--color-text-hoover);
}
.logo {
  color: var(--color-bg-primary);
}
.header-logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--color-text-hoover);
}
.portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.product:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-button {
  padding: 6px 25px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filter-button:hover {
  background-color: var(--color-text-hoover);
  color: var(--color-text-secondary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.product {
  height: 404px;
}

.product-photo {
  position: relative;
  overflow: hidden;
}

.product-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  color: var(--color-text-secondary);
  font-size: 18px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.product:hover .product-text {
  transform: translateY(0);
}

.btn-close {
  background-color: var(--color-text-secondary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.btn-close:hover .form-icon {
  fill: var(--color-text-hoover);
}



.hero-subtitle {
  text-align: center;
  color: var(--color-text-title);
  padding-bottom: 12px;
  padding-top: 30px;
}

.form-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  background-color: var(--color-text-hoover);
  border-radius: 4px;
  color: var(--color-text-secondary);
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(2);
}

.modal {
  background-color: var(--color-text-secondary);
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  border: 0px solid black;
  border-radius: 4px;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  padding-bottom: 4px;
}

.hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.form-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form-textarea:hover {
  border: 1px solid var(--color-text-hoover);
}

.form-textarea:focus-within {
  border: 1px solid var(--color-text-hoover);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 30px;
}

.agree-input:checked {
  background-color: var(--color-text-hoover);
}

.agree-link {
  color: var(--color-text-hoover);
  text-decoration: underline;
}

.form-field {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  width: 448px;
  height: 40px;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form-icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form-div:focus-within {
  border: 1px solid var(--color-text-hoover);
}

.form-div:focus-within .form-icon {
  fill: var(--color-text-hoover);
}

.form-div:focus .form-icon {
  fill: var(--color-text-hoover);
}

.form-div:hover {
  border: 1px solid var(--color-text-hoover);
}

.form-div:hover .form-icon {
  fill: var(--color-text-hoover);
}

.form-link {
  padding-left: 12px;
  display: flex;
  padding-right: 12px;
}

.form-input {
  height: 16px;
}

.backdrop-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.no-scroll {
  overflow: hidden;
}
