:root {
  --font-primary: "Roboto", serif;
  --font-logo: "Raleway", serif;
  --color-text-logo: #000000 --;
  --color-text-hoover: #2196f3;
  --color-text-secondary: #ffffff;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-info: #ffffff99;
  --color-bg-product: #eeeeee;
  --color-bg-primary: #2f303a;
  --color-bg-secondary: #f5f4fa;
}
body {
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
  font-weight: 500;
  color: var(--color-text-title);
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link:hover {
  color: var(--color-text-hoover);
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 93px;
}
.header-contacts {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-contacts-link:hover {
  color: var(--color-text-hoover);
  fill: var(--color-text-hoover);
}

.header-icon {
  width: 16px;
  height: 12px;
}

.header-tel {
  width: 10px;
  height: 16px;
}

.hero {
  background: var(--color-bg-primary);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 200px 0px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-title {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text-secondary);
  max-width: 696px;
}
.hero-button {
  background-color: var(--color-text-hoover);
  color: var(--color-bg-secondary);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.team-title {
  font-weight: 700;
  color: var(--color-text-title);
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}
.teammate-photo {
  margin-bottom: 30px;
}
.teammate-name {
  color: var(--color-text-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.teammate-role {
  font-size: 16px;
  padding-bottom: 30px;
  text-align: center;
}
.team {
  background-color: var(--color-bg-secondary);
  padding-top: 95px;
  padding-bottom: 95px;
}
.team-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
.teammate {
  background-color: var(--color-text-secondary);
  margin-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.regularcustomers {
  margin-bottom: 94px;
  margin-top: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-text-title);
  text-align: center;
  padding-bottom: 50px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.customers-icon {
  fill: #afb1b8;
}

.customers-item:hover {
  color: var(--color-text-hoover);
}

.customers-link:hover .customers-icon {
  fill: var(--color-text-hoover);
}

.footer {
  background-color: var(--color-bg-primary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  font-family: var(--font-logo);
  color: var(--color-text-hoover);
  display: block;
  margin-bottom: 20px;
  font-size: 26px;
}
.footer-item {
  color: var(--color-text-info);
}
.footer-text {
  color: var(--color-text-secondary);
  margin-bottom: 9px;
}
.footer-logo {
  color: var(--color-text-secondary);
}
.product-name {
  line-height: 2;
  font-size: 18;
  color: var(--color-text-title);
  font-weight: 700;
}
.nav-link {
  line-height: 1.6;
  font-size: 16px;
  color: var(--color-text-title);
  font-weight: 500;
}
.advantages {
  padding-top: 95px;
  padding-bottom: 95px;
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--color-bg-secondary);
  margin-bottom: 30px;
  border-radius: 4px;
  background-image: url(../img/antenna.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../img/diagram.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut.svg);
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.work {
  padding-bottom: 95px;
}
.work-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-title);
  margin-bottom: 50px;
}
.hero-button {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--color-text-hoover);
}
.logo {
  color: var(--color-bg-primary);
}
.header-logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--color-text-hoover);
}
.portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.product:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.filter-list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
.filter-button:hover {
  background-color: var(--color-text-hoover);
  color: var(--color-text-secondary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.filter-button {
  padding: 6px 25px;
  border-radius: 4px;
}
