:root {
  --font-primary: "Roboto", serif;
  --font-logo: "Raleway", serif;
  --color-text-logo: #000000 --;
  --color-text-hoover: #2196f3;
  --color-text-secondary: #ffffff;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-info: #ffffff99;
  --color-bg-product: #eeeeee;
  --color-bg-primary: #2f303a;
  --color-bg-secondary: #f5f4fa;
}
body {
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
}
.nav {
  font-weight: 500;
  color: var(--color-text-title);
}
.nav-link:hover {
  color: var(--color-text-hoover);
}
.header-contacts {
  font-weight: 500;
}
.header-contacts:hover {
  color: var(--color-text-hoover);
}
.hero {
  width: 1600px;
  height: 600px;
  background: var(--color-bg-primary);
}
.hero-title {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text-secondary);
}
.hero-button {
  background-color: var(--color-text-hoover);
  color: var(--color-bg-secondary);
}
.team-title {
  font-weight: 700;
  color: var(--color-text-title);
  font-size: 36px;
}
.teammate-name {
  color: var(--color-text-title);
  font-weight: 500;
  font-size: 16px;
}
.teammate-role {
  font-size: 16px;
}
.team {
  background-color: var(--color-bg-secondary);
}
.teammate {
  background-color: var(--color-text-secondary);
}
.footer-link {
  font-family: var(--font-logo);
  color: var(--color-text-hoover);
}
.footer-text {
  color: var(--color-text-secondary);
}
.footer-logo {
  color: var(--color-text-secondary);
}
.footer {
  background-color: var(--color-bg-primary);
}
.product-name {
  line-height: 2;
  font-size: 18;
  color: var(--color-text-title);
  font-weight: 700;
}
.nav-link {
  line-height: 1.6;
  font-size: 16px;
  color: var(--color-text-title);
  font-weight: 500;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-title);
}
.hero-button {
  border-radius: 4px;
  width: 216px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--color-text-hoover);
}
.logo {
  color: var(--color-bg-primary);
}
.header-logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--color-text-hoover);
}
