@import "./utils/variables";
@import "./global/reset";
@import "./global/global";
@import "./components/container";
@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/advantages";
@import "./components/work";
@import "./components/team";
@import "./components/customers";
@import "./components/portfolio";
@import "./components/filter";
@import "./components/product";
@import "./components/footer";
